* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.head {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px white, 1px 2px 1px gray;
}

.container {
    width: 100%;
    background: #201f21;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px;
}

.container h3 {
    color: #fff;
    margin-bottom: 20px;
    width: 90%;
    max-width: 875px;
}

.input-box {
    width: 400px;
    max-width: 90%;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 60px;
    padding: 0 60px 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}

.input-box button {
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button#togglePassword {
    right: 15px;
}

button#pastePassword {
    right: 80px;
}

button img {
    width: 40px;
}

#message {
    position: absolute;
    bottom: -30%;
    color: #fff;
    font-size: 15px;
    display: none;
}

::placeholder {
    font-size: 18px;
    color: #bbb;
}

/* Styles for the span tags inside container h3 */
.highlight-red {
    color: #ff5925;
}

.highlight-yellow {
    color: yellow;
}

.highlight-green {
    color: #26d730;
}

/* Styles for the password generator section */
.generator-box {
    width: 400px;
    max-width: 90%;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.generator-box input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
    margin-bottom: 10px;
}

.generator-box button {
    background: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.generator-box button#copyPassword {
    background: #2196F3;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .container h3 {
        width: 100%;
        font-size: 16px;
    }

    .input-box input, .generator-box input {
        height: 50px;
        padding: 0 20px;
    }

    .input-box button img, button img {
        width: 30px;
    }

    .input-box button, .generator-box button {
        padding: 10px;
        font-size: 14px;
    }

    .input-box {
        width: 90%;
    }

    .generator-box {
        padding-top: 20px;
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
